<a href="https://colab.research.google.com/github/jin-jo/Python/blob/master/movie_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Description: Build a movie reccomendation engine using Python

In [ ]:
# Import the libraries
import math
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
# Load the data
from google.colab import files
uploaded = files.upload()

Saving movies_metadata.csv to movies_metadata.csv

In [ ]:
# Load Movies Metadata
metadata = pd.read_csv('movies_metadata.csv', low_memory = False)
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [ ]:
# Calculate the mean of vote average column
c = metadata['vote_average'].mean()
print(c)

5.618207215133889

In [ ]:
#From the above output we can see that the average rating of a movie on IMBD is aroung 5.6 on a scale of 10

In [ ]:
#Calculate the mimimum number of votes required to be in the chart, m
m = metadata['vote_count'].quantile(0.90)
print(m)

160.0

In [ ]:
# Now that we have the number of votes we can use a simple greater than or equal condition to filter out movies that have greater than or equal to 160 vote counts

In [ ]:
# Filter out all qualified movies into a new DataFrame
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [ ]:
# From the above output we see that there are around 10% of movies with a vote count of more than 160

In [ ]:
# Build a function that computes the weighted rating of each movie
def weighted_Rating(x, m=m, c=c):
  v = x['vote_count']
  R = x['vote_average']
  # Calculation based on the IMDB formula
  return ((v/(v+m)*R) + (m/(m+v)*c))

In [ ]:
#Define a new feature "score" and calculate its value with "weighted_rating()"
q_movies['score'] = q_movies.apply(weighted_Rating, axis = 1)

In [ ]:
# Sort movies based on core calculated above
q_movies = q_movies.sort_values('score', ascending = False)
# Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(15)

                                 title  vote_count  vote_average     score
314           The Shawshank Redemption      8358.0           8.5  8.445869
834                      The Godfather      6024.0           8.5  8.425439
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481                  The Dark Knight     12269.0           8.3  8.265477
2843                        Fight Club      9678.0           8.3  8.256385
292                       Pulp Fiction      8670.0           8.3  8.251406
522                   Schindler's List      4436.0           8.3  8.206639
23673                         Whiplash      4376.0           8.3  8.205404
5481                     Spirited Away      3968.0           8.3  8.196055
2211                 Life Is Beautiful      3643.0           8.3  8.187171
1178            The Godfather: Part II      3418.0           8.3  8.180076
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
351                       Forrest Gump      8147.0           8.2  8.150272
1154           The Empire Strikes Back      5998.0           8.2  8.132919
1176                            Psycho      2405.0           8.3  8.132715